{{define "head"}}
<title>Admin</title>
<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main {
        width:100%;
    }
</style>
{{end}}

{{define "body"}}
<main class="flex-col">
    <h1>Admin</h1>
    <form action="/api/admin/create" method="post" class="flex-col form">
        <input class="myinput" type="text" name="table_name" placeholder="table name">
        <button type="submit" class="button">
            create table
        </button>
    </form>
    <form action="/api/admin/all" method="get" class="flex-col form">
        <input class="myinput" type="text" name="table_name" placeholder="table name">
        <button type="submit" class="button">
                select all from table
        </button>
    </form>
    <form action="/api/admin/list_tables" method="get" class="flex-col form">
        <button type="submit" class="button">
                list tables
        </button>
    </form>
    <form action="/api/admin/insert" method="get" class="flex-col form">
        <input class="myinput" type="text" name="table_name" placeholder="table name">
        <input class="myinput" type="text" name="value" placeholder="value">
        <button type="submit" class="button">
                insert into table
        </button>
    </form>
    <form action="/api/admin/delete" method="post" class="flex-col form">
        <input class="myinput" type="text" name="table_name" placeholder="table name">
        <button type="submit" class="button">
            delete table
        </button>
    </form>
</main>
{{end}}
