{{define "head"}}
<title>Local Note</title>
<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main {
        width:100%;
        height:100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    local-notes {
        height:100%;
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #note{
        flex-grow:1;
        width:100%;
        box-sizing: border-box;
        border:none;
        outline: none;
        padding:1rem;
        resize: none;

        background-color: var(--bg-2);
        color: var(--text);
        font-size: 1.1rem;
    }
</style>
{{end}} 
{{define "body"}}
<main>
<h2>hello there :)</h2>
</main>
<!-- <div id="content"></div> -->

<!-- templates -->
<template id="local-note">
    <h1>Local Note</h1>
    <textarea id="note"></textarea>
</template>

<script src="scripts/note.js" ></script>
<script>
    //const currentValue = document.getElementById("note");
    //console.log(currentValue);
    //document.getElementById('content').innerHTML = marked.parse(currentValue);
    //document.getElementById('content').innerHTML = marked.parse('# Marked in browser\n\nRendered by **marked**.');
</script>
{{end}}
