:root{
    --hue: 0;

    --bg: hsl(var(--hue), 20%, 8%);
    --bg-2: hsl(var(--hue), 22%, 10%);
    --bg-dark: hsl(var(--hue), 8%, 6%);
    --bg-light: hsl(var(--hue), 22%, 12%);

    --text: hsl(var(--hue), 78%, 84%, 0.7);
    --accent: hsl(var(--hue), 32%, 46%, 0.8);
    --accent-2: hsl(var(--hue), 22%, 28%);
    --accent-dark: hsl(var(--hue), 22%, 28%);
}
[data-theme="light"] {
    --bg: hsl(var(--hue), 20%, 88%);
    --bg-2: hsl(var(--hue), 22%, 78%);
    --bg-dark: hsl(var(--hue), 8%, 60%);
    --bg-light: hsl(var(--hue), 22%, 72%);

    --text: hsl(var(--hue), 78%, 8%, 0.7);
    --accent: hsl(var(--hue), 32%, 16%, 0.8);
    --accent-dark: hsl(var(--hue), 22%, 8%);
}
html{
    background-color: var(--bg);
    height: 100svh;
}
body {
    height:100%;
    background-color: var(--bg);
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
}
main {
    text-align:center;
    max-width:500px;
}
h1{
    margin:10px 0 10px 0;
    font-size:2.4rem;
    color:var(--accent);
    font-weight:bold;
}
.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button:hover{
    cursor:pointer;
}
.button{
    box-sizing: border-box;
    margin:10px 0 10px 0;
    padding:10px 0 10px 0;
    width:100%;

    border:2px solid var(--accent);
    border-radius:5px;
    font-size:1rem;
    cursor:pointer;

    background-color:var(--accent);
    color:var(--bg);
    font-weight:bold;
}
.button:hover{
    background-color:var(--bg);
    color:var(--text);
}
.form{
    border:2px solid var(--accent-dark);
    border-radius:8px;
    padding:20px;
    font-size:1rem;
    min-width: 324px;
}
.myinput{
    padding:10px;
    border:2px solid var(--accent);
    background-color:var(--bg);
    color:var(--text);
    border-radius:5px;
    margin:10px;
    font-size:1rem;
    width:100%;
    box-sizing: border-box;
}
.myinput:focus{
    outline:none;
    box-shadow:0 0 0 2px var(--accent);
}
