:root{
    --hue: 2;
    --bg: hsl(var(--hue),22%, 8%);
    --text: hsl(var(--hue), 98%, 88%);
    --accent: hsl(var(--hue),22%, 42%);
    --accent-dark: hsl(var(--hue),22%, 28%);
}
html{
    background-color: var(--bg);
}
body {
    background-color: var(--bg);
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
}
main {
    margin-top:6px;
    padding-top: 3rem;
    min-width: 412px;
    min-height: 894px;
    border: 2px solid var(--accent-dark);
    border-radius: 8px;
    text-align:center;
}
h1{
    font-size:2.4rem;
    color:var(--accent);
    font-weight:bold;
}
.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form{
    border:2px solid var(--accent-dark);
    border-radius:8px;
    margin:20px;
    padding:20px;
    font-size:1rem;
    min-width: 324px;
}
input{
    padding:10px;
    border:2px solid var(--accent);
    background-color:var(--bg);
    color:var(--text);
    border-radius:5px;
    margin:10px;
    font-size:1rem;
    min-width: 292px;
    box-sizing: border-box;
}
input:focus{
    outline:none;
    box-shadow:0 0 0 2px var(--accent);
}
.button{
    padding:10px;
    border:2px solid var(--accent);
    border-radius:5px;
    background-color:var(--bg);
    color:var(--text);
    margin:10px;
    font-size:1rem;
    min-width: 292px;
}
button:hover{
    cursor:pointer;
}
.button:hover{
    background-color:var(--accent);
    color:var(--bg);
    font-weight:bold;
    cursor:pointer;
}
.notes-container {
    margin-top: 2rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:20px;
}
.note-item {
    background-color: var(--accent-dark);
    border-radius: 8px;
    padding: 1rem;
    border-left: 3px solid var(--accent);
    width: 80%;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    max-width: 372px;
}
.note-content {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    line-height: 1.4;
    text-align:left;
}
.note-meta {
    color: var(--text);
    opacity: 0.7;
    font-size: 0.8rem;
}
.delete-btn {
    padding:10px;
    border:2px solid var(--accent);
    border-radius:5px;
    background-color:var(--bg);
    color:var(--text);
    margin:10px;
    font-size:0.8rem;
}
