:root{
    --hue: 2;
    --bg: hsl(var(--hue),22%, 8%);
    --text: hsl(var(--hue), 98%, 88%);
    --accent: hsl(var(--hue),22%, 42%);
    --accent-dark: hsl(var(--hue),22%, 28%);
}
html{
    background-color: var(--bg);
}
body {
    background-color: var(--bg);
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
}
main {
    margin-top:6px;
    padding-top: 3rem;
    min-width: 412px;
    min-height: 894px;
    border: 2px solid var(--accent-dark);
    border-radius: 8px;
}
h1{
    font-size:2.4rem;
    color:var(--accent);
    font-weight:bold;
    /* border-left:2px solid var(--accent); */
    /* border-right:2px solid var(--accent); */
}
.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    border:2px solid var(--accent-dark);
    border-radius:8px;
    margin:20px;
    padding:20px;
    font-size:1rem;
    min-width: 324px;
}
input{
    padding:10px;
    border:2px solid var(--accent);
    background-color:var(--bg);
    color:var(--text);
    border-radius:5px;
    margin:10px;
    font-size:1rem;
    min-width: 292px;
    box-sizing: border-box;
}
input:focus{
    outline:none;
    box-shadow:0 0 0 2px var(--accent);
}
button{
    padding:10px;
    border:2px solid var(--accent);
    border-radius:5px;
    background-color:var(--bg);
    color:var(--text);
    margin:10px;
    font-size:1rem;
    min-width: 292px;
    /* box-sizing: border-box; */
}
button:hover{
    background-color:var(--accent);
    color:var(--bg);
    font-weight:bold;
    cursor:pointer;
}
