#note{
    height:600px;
    width:500px;

    box-sizing: border-box;
    border:none;
    border-radius:8px;
    outline: none;
    padding:1rem;

    background-color: var(--bg-2);
    color: var(--text);
    font-size: 1.1rem;

	scrollbar-color: hsl(0 0% 100% /0.2) hsl(0 0% 0% /0);
	scrollbar-gutter: stable both-edges;
    resize:none;

    @media (max-width: 500px){
        width:100vw;
    }
}
