{{define "title"}}
    <title>Dashboard</title>
{{end}}

{{define "body"}}
<body class="flex-col">
    <main class="flex-col">
        <h1>Dashboard</h1>
            <a href="/notes"><button class="button">notes</button></a>
            <a href="/monies"><button class="button">monies</button></a>
            <a href="/admin"><button class="button">admin</button></a>
            <a href="/heatmap"><button class="button">heatmap</button></a>
    </main>
</body>
{{end}}
