{{ define "title"}}
<title>my Plot</title>
{{end}}
{{define "style"}}
<style>
    main{
        padding:0;
        margin:0;
    }
</style>
{{end}}
{{ define "body"}}
<body class="flex-col">
    <main class="flex-col">
        <div id="myplot"></div>
    </main>
<script type="module" src="heatmap.js"></script>
</body>
{{end}}
