<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta http-equiv="refresh" content="10" /> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="darkreader-lock">

    <link rel="icon" href="./logo.svg" />
    <link href="reset.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">

    {{block "head" .}}
    <title>Pockist</title>
    {{end}}
    <style>

    </style>
</head>
    <body class="flex-col">
        {{block "body" .}}
        <h1>hello</h1>
        {{end}}
        {{block "nav" .}}
        {{end}}
    </body>
</html>
