<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <meta http-equiv="refresh" content="10" /> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="reset.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <meta name="darkreader-lock">
    <link rel="icon" href="./logo.svg" />
    {{block "title" .}}
    <title>Pockist</title>
    {{end}}
    {{block "style" .}}
    {{end}}
</head>
    {{block "body" .}}
    <body>Hello</body>
    {{end}}
</html>
