{{ define "head"}}
    <title>Pockist</title>
{{end}}

{{ define "body"}}
<body class="flex-col">
    <main class="flex-col">
        <h1>Monies</h1>
        <form action="/api/monies/all" method="get" class="flex-col form">
            <input type="text" name="table_name" placeholder="table name">
            <button class="button" type="submit">
                    select all from table
            </button>
        </form>
        <form action="/api/monies/insert" method="get" class="flex-col form">
            <input type="text" name="table_name" placeholder="table name">
            <input type="text" name="value" placeholder="value">
            <button class="button" type="submit">
                    insert into table
            </button>
        </form>
    </main>
</body>
{{end}}
