{{define "nav"}}
<nav>
  <div id="home">
    <a href="/dashboard">
      <svg
        id="home_icon"
        height="40"
        width="40"
        viewBox="0 0 120 120"
        version="1.1"
        id="svg1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:svg="http://www.w3.org/2000/svg"
      >
        <path
          style="fill: var(--accent); stroke-width: 0.269266"
          d="M 60.287664,20.342465 C 46.938961,31.483974 30.186168,39.221394 12.945203,46.470643 c 3.587601,23.896643 0.469016,32.555213 -0.739725,48.214283 l 31.44146,0.0151 c 2.774679,-29.33074 40.441426,-43.698337 23.297696,-0.4563 l 40.315636,-0.32494 C 104.33812,78.085126 101.49834,64.470646 106.15068,46.417805 83.130204,36.378064 73.644864,32.24763 60.287664,20.342465 Z"
          id="path1"
        />
      </svg>
    </a>
  </div>
  <div id="options">
    <div class="slidecontainer">
      <input
        class="slider"
        id="color-slider"
        type="range"
        min="0"
        max="360"
        value="0"
      >
    </div>
    <svg
      id="theme-switch"
      class="theme-switch"
      xmlns="http://www.w3.org/2000/svg"
      width="42"
      height="42"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
      class="lucide lucide-sun-moon" 
    >
      <path d="M12 8a2.83 2.83 0 0 0 4 4 4 4 0 1 1-4-4"></path>
      <path d="M12 2v2"></path>
      <path d="M12 20v2"></path>
      <path d="m4.9 4.9 1.4 1.4"></path>
      <path d="m17.7 17.7 1.4 1.4"></path>
      <path d="M2 12h2"></path>
      <path d="M20 12h2"></path>
      <path d="m6.3 17.7-1.4 1.4"></path>
      <path d="m19.1 4.9-1.4 1.4"></path>
    </svg>
    <div class="menu-wrapper">
      <div class="menu">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </div>
  <div>
</nav>
<script src="./nav.js"></script>

<style>
  nav {
    --height:60px;
    position: fixed;
    top: 0;
    left: 0;
    height: var(--height);
    width:100%;
    /* box-sizing:border-box; */
    /* padding:0 10px; */

    display: flex;
    flex-direction:row;
    justify-content:space-between;

    svg path {
      fill: var(--accent);
    }
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    input {
      width: 100px;
      height:10px;
      background-color: var(--accent-dark);
      -webkit-appearance: none; /* Override default CSS styles */
      appearance: none;
    }
    input::-webkit-slider-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;
      width: 25px; /* Set a specific slider handle width */
      height: 25px; /* Slider handle height */
      background: hsl(var(--hue), 50%, 50%); /* Green background */
      cursor: pointer; /* Cursor on hover */
    }
    input::-moz-range-thumb {
      width: 25px; /* Set a specific slider handle width */
      height: 25px; /* Slider handle height */
      background: hsl(var(--hue), 50%, 50%); /* Green background */
      cursor: pointer; /* Cursor on hover */
    }
  }
  #options{
    display: flex;
    flex-direction:row;
    align-items:center;
    gap:10px;
  }
  .menu-wrapper{
    height:var(--height);
    display: flex;
    flex-direction:row;
    align-items:center;
  }
  .menu {
    display: inline-block;
    cursor: pointer;
    color: var(--text);
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--accent);
    /* background-color: #333; */
    margin: 6px 0;
    /* transition: 0.4s; */
    border-radius: 4px;
  }
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  .change .bar2 {
    opacity: 0;
  }
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  #drawer {
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
    /* width: 250px; */
    /* height: 0; */
    /* bottom: 0; */
    /* left: 0; */
    /* background-color: #111111db;  */
    background-color: var(--bg-op);
    overflow-x: hidden;
    /* padding-top: 18svh; */
    /* transition: 0.2s; */
    opacity: 0;
  }
  .change #drawer {
    width: 250px;
    /* height: 250px; */
  }
  .butt {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
  }
  .drawer-btn {
    padding: 20px;
    /* color: antiquewhite; */
    color: var(--text);
    font-size: 20px;
    font-family: monospace;
    background-color: var(--nav-btn);
    text-decoration: none;
    width: 100%;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
  }
  .drawer-btn:hover {
    color: var(--text);
    background-color: var(--nav-btn-hv);
    box-shadow: 0px 0px 5px 1px var(--nav-btn-hv);
  }
  .drawer-btn:active {
    color: var(nav-btn-act);
    background-color: var(nav-btn-act-bg);
  }
  .theme-switch {
    height: var(--height);
    color: var(--text);
    /* margin-right: 14px; */
    margin-top: 6px;
  }
</style>
{{end}}
