{{define "title"}}
<title>Notes</title>
{{end}}

{{define "body"}}
<body class="flex-col">
<main>
    <h1>Notes</h1>
    <form action="/api/notes/insert" method="post" class="flex-col form">
        <input type="text" name="note" placeholder="note" autofocus>
        <button type="submit" class="button">submit</button>
    </form>
    <div class="notes-container">
        {{range .NotesSlice}}
        <div class="note-item">
            <div class="note-content">{{.Note}}</div>
            <div class="options">
                <button onclick="editNote()" class="btn">edit</button>
                <form class="delete-form" action="/api/notes/delete" method="post">
                    <input type="hidden" name="form_id" value="{{.ID}}">
                    <button type="submit" class="btn">delete</button>
                </form>
            </div>

            <!-- <div class="note-meta"> -->
            <!--     <small>ID: {{.ID}}</small> -->
            <!--     <small>Created: {{.DateCreated}}</small> -->
            <!-- </div> -->
        </div>
        {{end}}
    </div>
</main>
<script>
    let i = 1
    function editNote(){
        console.log("well then", i)
        i++;
    }
</script>
</body>
{{end}}
