{{define "title"}}
<title>Notes</title>
{{end}}

{{define "body"}}
<body class="flex-col">
    <main class="">
        <h1>Notes</h1>
        <form action="/api/notes/insert" method="post" class="flex-col form">
            <input type="text" name="note" placeholder="note" autofocus>
            <button type="submit" class="button">submit</button>
        </form>
        <div class="notes-container">
            {{range .NotesSlice}}
            <div class="note-item">
                <div class="note-content">{{.Note}}</div>
                <form class="delete-form" action="/api/notes/delete" method="post">
                    <input type="hidden" name="form_id" value="{{.ID}}">
                    <button type="submit" class="delete-btn">delete</button>
                </form>
                <!-- <div class="note-meta"> -->
                <!--     <small>ID: {{.ID}}</small> -->
                <!--     <small>Created: {{.DateCreated}}</small> -->
                <!-- </div> -->
            </div>
            {{end}}
        </div>
    </main>
</body>
{{end}}
