{{define "title"}}
<title>Notes</title>
{{end}}

{{define "body"}}
<body class="flex-col">
    <main class="">
        <h1>Notes</h1>
        <form action="/api/notes/insert" method="post" class="flex-col">
            <input type="text" name="note" placeholder="note" autofocus>
            <input type="submit" value="submit">
        </form>
        <div class="notes-container">
            {{range .NotesSlice}}
            <div class="note-item">
                <div class="note-content">{{.Note}}</div>
                <div class="note-meta">
                    <small>ID: {{.ID}}</small>
                    <small>Created: {{.DateCreated}}</small>
                </div>
            </div>
            {{end}}
        </div>
    </main>
</body>
{{end}}
