{{define "body"}}
	<main>
		<h1>Notes</h1>
	<div id="new-remote-note">
		<form action="/api/notes/insert" method="post" class="flex-col form">
			<input class="myinput" type="text" name="note" placeholder="note" autofocus>
			<button type="submit" class="button">submit</button>
		</form>
	</div>
	<div class="notes-container">
	    {{range .NotesSlice}}
	    <div class="note-item">
	        <div class="note-content">{{.Note}}</div>
	        <div class="options">
	            <button onclick="editNote()" class="btn">edit</button>
	            <form class="delete-form" action="/api/notes/delete" method="post">
	                <input class="myinput" type="hidden" name="form_id" value="{{.ID}}">
	                <button type="submit" class="btn">delete</button>
	            </form>
	        </div>
			<!-- <div class="note-meta"> -->
			<!--     <small>ID: {{.ID}}</small> -->
			<!--     <small>Created: {{.DateCreated}}</small> -->
			<!-- </div> -->
	    </div>
	    {{end}}
	</div>
	</main>
	<script>
		// Utility functions for other parts of the app
		let i = 1;

		function editNote() {
			console.log("well then", i);
			i++;
		}
	</script>
{{end}}
{{define "head"}}
<title>Notes</title>
<!-- <script src="notes.js" type="module"></script> -->
<style>
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
	width:90%;
}
#new-remote-note {
	width:100%;
}
.notes-container {
    margin-top: 2rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:20px;
}
.note-item {
    background-color: var(--bg-2);
    border-radius: 8px;
    border-left: 3px solid var(--accent);

	box-sizing:border-box;	
    padding: 14px;

	width:100%;
    display:flex;
    flex-direction: row;
    justify-content:space-between;


}
.note-content {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    line-height: 1.4;
    text-align:left;
}
.note-meta {
    color: var(--text);
    opacity: 0.7;
    font-size: 0.8rem;
}
.btn{
    padding:10px;
    border:2px solid var(--accent);
    border-radius:5px;
    background-color:var(--bg);
    color:var(--text);
    margin:10px;
    font-size:0.8rem;
    min-width:60px;
}
</style>
{{end}} 
